<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) [%C.%M:%line] - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOCAL_LOG_URL}/logs/logback-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 1일까지 보관 -->
            <maxHistory>1</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 1KB -->
                <maxFileSize>2MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>



    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.kernel360.orury.global" level="INFO">
        <appender-ref ref="ROLLING" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql" level="TRACE">
        <appender-ref ref="ROLLING" />
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="ROLLING" />
    </logger>


</configuration>